@model ActividadesComplementarias.Models.Departamento

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>¿Esta seguro de que desea eliminar esto?</h3>

    <div class="display-label">
        <label>ID Departamento</label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idDepartamento)
    </div>
    <br />
    <div class="display-label">
         <label>Nombre de Departamento</label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombreDepartamento)
    </div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Regresar a lista de Departamento", "IndexDepartamento")
    </p>
}
