@model ActividadesComplementarias.Models.Departamento

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-4 col-lg-offset-4">
    <h3>Eliminar Departamento</h3>

    <h4>¿Esta seguro de que desea eliminar esto?</h4>

    <div class="display-label">
        <label>ID Departamento</label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idDepartamento)
    </div>
    <br />
    <div class="display-label">
        <label>Nombre de Departamento</label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombreDepartamento)
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="botones">
            <input class="btn-success" type="submit" value="Eliminar" />
        </div>
    }
</div>
