@model ActividadesComplementarias.Models.Departamento

@{
    ViewBag.Title = "CAS - Detalles Departamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles Departamento</h2>


    <legend>Departamento</legend>

    <div class="display-label">
        <label>ID Departamento</label>        
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idDepartamento)
    </div>
    <br />
    <div class="display-label">
         <label>Nombre de Departamento</label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombreDepartamento)
    </div>

    @Html.ActionLink("Editar", "Edit", new { id=Model.idDepartamento}) |
    @Html.ActionLink("Regresar a lista de Departamento", "IndexDepartamento")

