@{
    ViewBag.Title = "SignIn";
    Layout = null;
}

<h2>Iniciar Sesión</h2>


<form method="post">
    <label class="lblLogin">Usuario</label>
    <input type="text" name="user" id="user" />
    <br />
    <label class="lblLogin">Contraseña</label>
    <input type="password" name="password" id="password" />
    <button type="submit" value="Iniciar Sesión">Iniciar Sesión</button>
</form>