@{
    ViewBag.Title = "SignIn";
}

<h2>Iniciar Sesión</h2>


<form method="post">
    <label>Usuario</label>
    <input type="text" name="user" id="user" />

    <label>Contraseña</label>
    <input type="password" name="password" id="password" />
    <button type="submit" value="Iniciar Sesión">Iniciar Sesión</button>
</form>