@model ActividadesComplementarias.Models.Carrera

@{
    ViewBag.Title = "CAS - Eliminar Carrera";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Carrera</h2>

<h3>¿Esta seguro de que desea eliminar esto?</h3>

    <div class="display-label">
         <label>ID de Carrera</label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idCarrera)
    </div>
        <br />
    <div class="display-label">
         <label>Nombre de Carrera</label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombreCarrera)
    </div>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Regresar a lista de Carreras", "Index")
    </p>
}
